.tb-billing-fields {
	p {
		label {
			display: block;
		}
		input {
			width: 100%;
		}
		&.create-account {
			label, input {
				display: inline-block;
				width:   auto;
			}
		}
	}
}
.woocommerce-form__input-checkbox {
	position: static!important;
}


#ship-to-different-address {
	position: relative;
	label {
		font-weight:  normal;
		padding-left: 30px;
	}
	#ship-to-different-address-checkbox {
		position: absolute;
		top:      5px;
		left:     4px;
	}
}

.woocommerce #payment #place_order {
	width: 100%;
}

.woocommerce-checkout {
	&.checkout {
		&:after {
			content: "";
			display: table;
			clear:   both;
		}
		.woocommerce-checkout-review-order-table {
			border-right: none;
			td, th {
				border-bottom: none
			}
		}
		#payment {
			border-radius: 0;
		}
	}
	label {
		font-weight: normal;
	}
	.button {
		box-shadow:     none;
		border-radius:  0 !important;
		text-align:     center;
		vertical-align: top;
		margin:         0 2px;
		border:         none;
		padding:        11px 25px;
		text-shadow:    0 0 0;
		text-transform: uppercase;
	}
	.input-text {
		border:  1px solid $border_color;
		padding: 7px 10px;
	}
	#order_review_heading {
		margin-top: 0;
	}
	.columns {
		.col2-set {
			.col-2 {
				padding-top: 20px;
			}
			.col-1, .col-2 {
				width: 100%;
			}
		}
		.order-wrapper {
			background:  rgba(84, 84, 84, 0.05);
			margin-left: 30px;
			padding:     20px 20px 1px 20px;
		}
		#add_payment_method #payment, #payment {
			background: transparent;
			.wc_payment_methods, .form-row.place-order {
				padding-right: 0;
				padding-left:  0;
			}
		}
	}
	form.woocommerce-checkout {
		margin-top: 30px;
	}
	.woocommerce-info-login-form, .woocommerce-info-coupon-message {
		text-align: center;
		.login, .checkout_coupon {
			min-height:    inherit;
			max-width:     610px;
			margin:        0 auto 30px auto;
			border-radius: 0;
			border:        3px dashed rgba(84, 84, 84, 0.15);
			padding:       30px;
		}
		.checkout_coupon .input-text {
			width: calc(100% - 142px);
			float: left;
			&:focus {
				outline: none;
			}
		}
		.checkout_coupon.button:focus {
			outline: none;
		}
		.social-networks a:last-child > div {
			margin-right: 0 !important;
		}
		.woocommerce-info {
			border:        none;
			background:    transparent;
			display:       inline-block;
			font-weight:   bold;
			padding:       5px 0 5px 35px !important;
			margin-bottom: 20px !important;
			a {
				text-transform: uppercase;
				&:hover {
					opacity: 0.8;
				}
			}
			&:before {
				font-family: 'Linearicons-Free';
				content:     "\e82a";
				color:       inherit;
				font-size:   20px;
				left:        3px;
				top:         5px;
			}
		}
	}
	.woocommerce-info-coupon-message .woocommerce-info:before {
		content: "\e859"
	}
}

.woocommerce-billing-fields h3,
#ship-to-different-address,
.woocommerce-shipping-fields h3 {
	margin-top: 0;
	label {
		margin-top:    0;
		margin-bottom: 0;
		color:         inherit;
		font-style:    normal;
	}
}

.woocommerce-checkout {
	.select2-container .select2-choice {
		border:        1px solid $border_color;
		border-radius: 0;
		padding:       3px 8px;
	}
	.select2-drop-active {
		border: 1px solid $border_color;
	}
	.select2-drop.select2-drop-above.select2-drop-active {
		border-top: 1px solid $border_color;
	}
	.select2-search input {
		padding: 5px 20px 5px 5px !important;
		border:  1px solid $border_color;
	}
}

.input-checkbox {
	display: inline-block !important;
	margin:  0 5px 0 0 !important;
}

.woocommerce-shipping-calculator {
	.input-text, select {
		border:  1px solid $border_color;
		padding: 7px 10px;
	}
	.shipping-calculator-form .button {
		background-color: #2a2a2a;
		color:            #fffefe;
		font-size:        13px;
		text-transform:   uppercase;
		font-weight:      normal;
		border-radius:    0;
		padding:          15px 24px;
		display:          inline-block;
	}
}

.woocommerce-ResetPassword {
	.input-text {
		border:  1px solid $border_color;
		padding: 7px 10px;
	}
	.form-row input.button {
		background-color: #2a2a2a;
		color:            #fffefe;
		font-size:        13px;
		text-transform:   uppercase;
		font-weight:      normal;
		border-radius:    0;
		padding:          15px 24px;
		display:          inline-block;
	}
}