/*#formatdiv, /!* hide default radio button UI *!/*/
#titlewrap, #formatdiv {
	display: none;
}

#post-body-content #postimagediv .inside p {
	text-align: center;
}

.clearfix:before, .clearfix:after {
	content:  "\0020";
	display:  block;
	height:   0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.bws-ui-elm-block {
	margin-bottom: 18px;
	margin-top:    20px;
	background:    #fff;
	border:        1px #dfdfdf solid;
}

.bws-ui-elm-block label {
	color:            #666;
	display:          block;
	/* margin-bottom: 2px; */
	padding:          15px;
	text-transform:   uppercase;
	background-color: #fff;
	border-bottom:    2px solid #dfdfdf;
	cursor:           default;
}

/*.bws-ui-elm-block input[type="text"],*/
/*.bws-ui-elm-block textarea,*/
/*.bws-ui-elm-block select,*/
/*.bws-ui-elm-block .bws-ui-elm-container {*/
/*border: 1px #dfdfdf solid;*/
/*}*/

.bws-ui-elm-block input[type="text"],
.bws-ui-elm-block textarea {
	font-size: 18px;
	width:     100%;
}

.bws-ui-elm-block textarea {
	height:       161px;
	padding-left: 8px;
}

.bws-ui-elm-block input[type="text"] {
	padding-left: 8px;
}

.bws-ui-elm-block .description {
	color:        #999;
	display:      block;
	font-size:    11px;
	line-height:  1.6;
	padding-left: 10px;
}

.bws-ui-elm-block .bws-ui-elm-source {
	height: 96px;
}

.bws-ui-elm-block .bws-ui-elm-container {
	/*background: #f0f0f0;*/
	padding: 10px;
}

.ui-inner {
	padding: 20px;
}

.bws-ui-elm-block .bws-ui-elm-container p.none {
	text-align: center;
}

.bws-ui-elm-block .bws-ui-elm-image-gallery {
	margin:  0 0 -5px 0;
	padding: 0;
}

.bws-ui-elm-block .bws-ui-elm-container .gallery {
	margin:         0;
	padding-bottom: 8px;
}

.bws-ui-elm-block .bws-ui-elm-container .gallery li {
	display: inline-block;
	margin:  0 8px 8px 0;
	padding: 0;
}

.bws-ui-elm-block .bws-ui-elm-container .gallery li img {
	vertical-align: middle;
}

/* Video Field */
#bws-ui-format-video-embed {
	height: 65px;
}

/* Featured Image */
#post-body-content #select-featured-image {
	text-align: center;
}

#post-body-content #select-featured-image img {
	display: block;
	margin:  0 auto 4px;
}

#post-body-content #select-featured-image a {
	float: none;
}

#post-body-content #select-featured-image a.button-secondary {
	margin-right: 10px;
}

#bws-post-formats-ui-tabs {
	margin-bottom: 20px;
}

/** tab navigation
 -------------------------------------------------- */
.bws-ui-nav {
	border-bottom: 1px solid #ccc;
	width:         100%;
}

.bws-ui-nav ul {
	list-style-type: none;
	margin:          0;
	padding:         0;
}

.bws-ui-nav ul li,
.bws-ui-nav ul li a {
	float:  left;
	margin: 0;
}

.bws-ui-nav ul li a {
	display:                         block;
	color:                           #999;
	background-color:                #fff;
	border:                          1px solid #ddd;
	border-bottom:                   0;
	font-size:                       14px;
	height:                          36px;
	line-height:                     36px;
	margin-right:                    5px;
	padding:                         0 15px;
	text-decoration:                 none;
 	-moz-border-radius-topleft:      2px;
	-webkit-border-top-left-radius:  2px;
	border-top-left-radius:          2px;
	-moz-border-radius-topright:     2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius:         2px;
}

.bws-ui-nav ul li a:focus, .bws-ui-elm-block input[type="text"]:focus, .bws-ui-elm-block textarea:focus {
	outline:    none;
	box-shadow: 0 0 0;
}

.bws-ui-nav ul li a:hover {
	color: #666;
}

.bws-ui-nav ul li a.current {
	background:    none;
	border:        1px solid #ccc;
	border-bottom: 1px solid #f1f1f1;
	color:         #464646;
	margin-bottom: -1px;
}

.bws-ui-nav ul li a:focus {
	outline: none;
}

.post-format-icon:before {
	font-size: 14px;
}

/* Gallery */
.bws-ui-gallery-picker .gallery {
	overflow: auto;
}

.bws-ui-gallery-picker .gallery span {
	width:    120px;
	height:   120px;
	display:  block;
	float:    left;
	position: relative;
	margin:   4px;
	border:   solid 1px #eeeeee;
}

.bws-ui-gallery-picker .gallery span.close {
	width:       8px;
	height:      8px;
	line-height: 8px;
	position:    absolute;
	top:         0px;
	right:       0px;
	background:  #fff;
	color:       #000;
	text-align:  center;
	display:     none;
	border:      none;
	cursor:      pointer;
}

.bws-ui-gallery-picker .gallery span:hover span.close {
	display: block;
}

.bws-ui-gallery-picker .gallery img {
	width:   100%;
	height:  100%;
	display: block;
}

.bws-ui-gallery-picker .gallery span.bws-ui-ui-state-highlight {
	width:      120px;
	height:     120px;
	display:    inline-block;
	border:     1px dotted #bbbbbb;
	background: #eeeeee;
}

.bws-ui-gallery-picker .gallery span {
	padding: 5px;
	border:  solid 1px #EFEFEF;
}

.bws-ui-gallery-picker .gallery > span:hover {
	border:             solid 1px #CCC;
	-moz-box-shadow:    1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow:         1px 1px 5px #999;
}