// ----------------------------------------------------------------------

  // Change placeholder text color

// ----------------------------------------------------------------------

// example: @include placeholder-color(#333);

@mixin placeholder-color($color) {
  &.placeholder {
    color: $color
  }

  &:-moz-placeholder {
    color: $color
  }

  &::-webkit-input-placeholder {
    color: $color
  }

  &:-ms-input-placeholder {
    color: $color
  }
}