/*.home .site.wrapper-content
Theme Name: TravelWP Child
Theme URI: http://travelWP.physcode.com/
Author: Physcode
Author URI: http://physcode.com/
Description: Description
Version: 1.0.1
Template:  travelwp
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: travelWP
Tags: two-columns, left-sidebar, right-sidebar, editor-style, rtl-language-support, sticky-post, theme-options, translation-ready, translation-ready

 */

 @font-face {
	font-family: 'brush-tipTerrence';
	src: url('../travelwp/assets/fonts/brush-tipTerrence.eot');
	src: url('../travelwp/assets/fonts/brush-tipTerrence.eot?#iefix') format('embedded-opentype'),
		url('../travelwp/assets/fonts/brush-tipTerrence.woff') format('woff'),
		url('../travelwp/assets/fonts/brush-tipTerrence.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 @font-face {
	font-family: 'Sansation';
	src: url('../travelwp/assets/fonts/Sansation-Regular.eot');
	src: url('../travelwp/assets/fonts/Sansation-Regular.eot?#iefix') format('embedded-opentype'),
		url('../travelwp/assets/fonts/Sansation-Regular.woff') format('woff'),
		url('../travelwp/assets/fonts/Sansation-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 
 
body{
	font-family: 'Ubuntu', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p,a,span{
	font-family: 'Ubuntu', sans-serif !important;
}
.travel-booking-search form button, .form-subscribe-form-wrap .mc4wp-form .mc4wp-submit-button, .stats_counter .stats_counter_number, .stats_counter .stats_counter_title, .counter-block .counter, .header_main_menu_wrapper .header-menu li, .form-subscribe-form-wrap .epm-sign-up-form .epm-sign-up-button, .btn-primary{
	font-family: 'Ubuntu', sans-serif !important;
}
.hidden_block{
	display: none;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.pa_destination {
    display: none;
}
body .tp-dottedoverlay.twoxtwo {
    background: transparent;
    background: rgba(0,0,0,0.4);
}
.enqueryform a {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    width: 200px;
    text-align: center;
    padding: 12px 12px;
    position: fixed;
    z-index: 9999;
    bottom: 60%;
    left: -82px;
    font-size: 18px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
}
.affix .navbar-nav > li > a {
    color: #1d212a;
}

.textwidget.custom-html-widget a.phone_no {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 15px 0 0 40px;
}

a.phone_no i.fa.fa-phone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    color: #fdc245;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    border: 2px solid #f6c34e;
    margin-right: 3px;
}
.slider_text_area {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider_text_area h2.phys-typingEffect {
    font-size: 30px;
    text-transform: uppercase;
}
.slider_text_area .travel-booking-search .hb-form-table {
    text-align: center;
}
.slider_text_area .travel-booking-search .hb-form-table li {
    float: none;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    margin-left: -3px;
}
.slider_text_area .banner-typed {
    max-width: 100%;
}
.slider_text_area .banner-typed.banner_typewriter {
    margin: 25px auto 0px;
    max-width: 50%;
}
.slider_text_area .banner-typed.banner_typewriter1 {
    margin: 0px auto 35px;
    max-width: 50%;
}
.slider_text_area .banner-typed .desc {
    font-size: 25px;
    line-height: 42px;
    text-transform: uppercase;
}
.btn_gradiant {
     background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border-radius: 50px;
}

.slider_text_area .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern {
    min-width: 420px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 0;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border-radius: 50px;
    text-align: center;
    padding: 17px 0;
}

.slider_text_area .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern .fa-arrow-right:before {
    content: "\f061";
    color: #fff;
    content: "\f054";
}
.vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 26px;
    font-size: 15px;
    color: #fff;
    right: 20px;
}


a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-square.vc_btn3-style-modern.vc_btn3-icon-right.vc_btn3-color-orange:hover {
    background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}

.slider_text_area .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: scale(0);
    z-index: -1;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
}
.slider_text_area .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern:hover:before {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}
.slider_text_area .widget-icon-box.widget-icon-box-base.iconbox-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -150px;
}
.slider_text_area .travel-booking-search .hb-form-table li input[type="text"], .slider_text_area .travel-booking-search .hb-form-table li select {
    height: 50px;
	color: #666;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-submit button {
    height: 50px;
    color: #000;
    letter-spacing: 1px;
    padding: 8px 8px 7px 8px;
    box-shadow: none;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.tour_name {
    position: relative;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.tour_name:before {
    content: "";
    background: url(/wp-content/uploads/2017/10/map_icon.png);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.tour_name input[type="text"] {
    padding-left: 42px !important;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.pa_month select.pa_month {
    position: relative;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
.slider_text_area .travel-booking-search .hb-form-table li.hb-form-field.pa_month:after {
    content: "";
    position: absolute;
    background: url(/wp-content/uploads/2017/10/down_arrow.png);
    right: 0;
    top: 0;
    background-position: center;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.travel-booking-search .hb-form-field-select:before{
	content:none;
}
.section_1 .vc_column-inner .iconbox-center {
    border: 1px solid #ccc;
    padding: 15px 7px;
    border-radius: 30px;
}
.section_1 .vc_column-inner .iconbox-center h4.heading__primary {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    min-height: 35px;
}
.section_1 .vc_column-inner .iconbox-center .desc-icon-box {
    font-size: 14px;
    color: #171721;
    line-height: 22px;
}
.iconbox-center .icon-image {
    width: auto !important;
}
 .shortcode_title .title_subtitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
	font-family: "Sansation"
}
.shortcode_title .title_primary {
    font-size: 45px;
	font-family: "Sansation" !important ;
	color: #00B6E3;
}
.shortcode_title.shortcode-title-style_1 .line_after_title {
    color: #00B6E3 !important;
}

.shortcode_title.shortcode-title-style_1 {
    max-width: 100%;
}
.enquiry_form span.wpcf7-not-valid-tip {
    text-align: left;
}
.section_2 .item_content .wrapper_content {
    margin: auto;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* top: 50%; */
    /* -moz-transform: translateY(-50%); */
    /* -ms-transform: translateY(-50%); */
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    /* background: transparent; */
	/* z-index: 9; */
    text-align: center;
	
}
.section_2 .item_content .wrapper_content a {
    color: #333;
    font-size: 20px;
	font-family: 'brush-tipTerrence' !important;
}
.section_2 .item_border .post_images > a:before, .section_2 .post_list_content_unit .feature-image > a:before {
    opacity: 1;
    background: transparent;
	z-index: 1;
}
.section_2 .item_border {
    box-shadow: none;
    border: none;
    background: transparent;
}
.section_2 .post_images {
    background: transparent;
    margin: 0;
}
/* .section_2 .post_images img { */
    /* height: 300px; */
    /* object-fit: cover; */
/* } */
.section_2 .tours-type-pain .item-tour {
    padding: 0 3px;
}
.section_2 .tours-type-slider .item-tour {
    padding: 0 3px;
}
.section_2 .read_more {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
	opacity: 0;
	z-index: 9;
	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    width: 135px;
	height:auto;
    border-radius: 100px;
}
.section_2 .read_more a { 
   color: #fff; 
   background: transparent; 
   width: 100%; 
   padding: 0; 
   line-height: 36px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 30px;
    margin: 0;
    border: none;}

.section_2 .item_border:hover .read_more{
	opacity:1;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
}
.section_2 .read_more a:before {
    content: none;
}
.section_2 .read_more a.button.product_type_tour_phys.add_to_cart_button {
    background: transparent;
    width: 100%;
    padding: 0;
    line-height: 36px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.tours-type-pain .tours_type_item .tours-type__item__image:before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.callus a {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    width: 200px;
    text-align: center;
    padding: 12px 12px;
    position: fixed;
    z-index: 9999;
    bottom: 60%;
    right: -82px;
    font-size: 18px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
}
.callus i.fa.fa-phone {
    background: #030303 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 22px;
    height: 35px;
    left: -40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    width: 40px;
    color: #fff;
    text-align: center;
}
.call_back label.labl-name {
    display: block;
    text-align: left;
}
.call_back br {
    display: none;
}
.call_back span.wpcf7-not-valid-tip {
    text-align: left;
}
.wrapper-footer .list-arrow li a {
    border: none;
    line-height: normal;
	color: #aaa7a7;
	font-size:15px;
}
.wrapper-footer .list-arrow li a:hover {
    color: #f6c34e;
}
/*.wrapper-footer .social-icons a:hover {
    background: #f6c34e;
    color: #000;
}*/
.wrapper-footer .social-icons a {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin-right: 10px;
}
.wrapper-footer .social-icons img:hover {
    opacity: 0.8;
}
.wrapper-footer h2 {
    color: #55acef;
    font-size: 30px;
}
.wrapper-footer p {
    color: #aaa7a7;
    font-size: 15px;
}
.wrapper-footer input[type="text"], .wrapper-footer input[type="email"] {
    background: #a39fa9;
    border: 1px solid #a39fa9;
    height: 30px;
    color: #fff;
    padding: 6px 12px;
    width: 75%;
	outline: none;
	 -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.wrapper-footer input[type="submit"] {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    padding: 9px 12px;
    width: 75%;
    border-radius: 100px;
    border: none;
}
.wrapper-footer input[type="submit"]:hover {
    opacity: 0.8;
}
.wrapper-footer  a.request_btn {
    color: #000;
    text-transform: uppercase;
    padding: 6px 12px;
    width: 65%;
    border-radius: 100px;
    display: block;
    margin: 12px auto 0;
    font-size: 16px;
    text-align: center;
}
.wrapper-footer  a.request_btn:hover {
    color: #000;
}
.wrapper-footer a.request_btn:hover {
    opacity: 0.8;
}
.wrapper-footer a {
    font-size: 15px;
}
body .wrapper-footer .main-top-footer {
    border: none;
    position: relative;
}
body .wrapper-footer .main-top-footer:after {
    background: url(/wp-content/uploads/2017/10/footer_bg.jpg);
    background-position: center bottom;
    position: absolute;
    left: 0;
    top: 50px;
    height: 100%;
    width: 100%;
    content: "";
    background-repeat: no-repeat;
    z-index: -1;
}
.section_2 .read_more:hover {
    background: #f6c34e;
    border-color: #f6c34e;
}
.section_2 span.onsale {
    display: none;
}

.beat_trip_left .tours_type_item {
    width: 100%;
    padding: 0 3px;
}
.beat_trip_right .tours-type-pain .tours_type_item {
    padding: 0;
    margin-bottom: 3px;
}
.beat_trip_right .tours-type-pain .tours_type_item:nth-child(3) {
    clear: none;
}
.beat_trip_left img {
    height: 353px;
    object-fit: cover;
}
.beat_trip_right img {
    height: 175px;
    object-fit: cover;
    width: 257px;
}

.beat_trip_right .tours-type-pain .tours_type_item .content-item {
    bottom: auto;
    text-align: center;
    color: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.beat_trip_left .tours-type-pain .tours_type_item .content-item {
    bottom: auto;
    text-align: center;
    color: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.tours-type-pain .tours_type_item .item__title {
    position: relative;
    padding-bottom: 15px;
	font-family: 'brush-tipTerrence' !important;
    font-size: 26px;
}
.tours-type-pain .tours_type_item .item__title:after {
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    width: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.section_3 .beat_trip_left .read_more {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 100px;
	height: auto;
    background: #f6c34e;
    border-color: #f6c34e;
}
.section_3 .beat_trip_left .tours_type_item:hover .read_more {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);

}
.beat_trip_left .tours_type_item:hover .section_3 .read_more {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
}


.section_3 .beat_trip_right .read_more {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
	bottom: -50px;;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    width: 150px;
	height:auto;
    border-radius: 100px;
}
.section_3 .beat_trip_right .tours_type_item:hover .read_more {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
}
.beat_trip_right .tours-type-pain .tours_type_item:hover .content-item .item__title {
    margin-bottom: 20px;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}

.section_3 .read_more a.button.product_type_tour_phys.add_to_cart_button {
    background: transparent;
    width: 100%;
    padding: 0;
    line-height: 36px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.wrapper-footer .callus:hover a, .wrapper-footer .enqueryform:hover a {
    color: #000;
} 

.section_3 .read_more a {
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 0;
    line-height: 36px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.section_2 .post_images a {
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    border-radius: 100%;
	height: 190px;
}
.section_2 .post_images img {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-radius: 100%;
    height: 190px;
	object-fit:cover;
}
/* .section_2 .post_images a:hover img { */
    /* -webkit-transform: scale(1.1); */
    /* -moz-transform: scale(1.1); */
    /* -o-transform: scale(1.1); */
    /* transform: scale(1.1); */
/* } */
.beat_trip_left .tours-type-pain .tours_type_item:hover .content-item .item__title {
    margin-bottom: 20px;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -ms-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}
.section_4 .post_list_content_unit .post-list-content {
    position: absolute;
    bottom: 0;
    padding: 12px;
}
.section_4 .post_list_content_unit .post-list-content .post_list_inner_content_unit .post_list_title a {
    color: #fff;
}
.section_4 .travel_one_post .post_list_content_unit .feature-image img {
    height: 300px;
    object-fit: cover;
}
.section_4 .travel_two_post .post_list_content_unit .feature-image img {
    height: 200px;
    object-fit: cover;
}
.section_4 .post_list_content_unit {
    margin: 0;
    padding: 0;
}
.section_4 .post_list_content_unit .feature-image {
    margin: 0;
}
.section_4 .post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .date-time {
    color: #fff;
}
.section_4 .post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .post_list_cats a {
    color: #fff;
}
.section_4 .post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .date-time:before, .section_4 .post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta .post_list_cats:before {
    color: #fff;
}
.section_4 .travel_two_post .post_list_content_unit .post-list-content {
    width: 85%;
}
/* .section_4 .item_border .post_images > a:before, .section_4 .post_list_content_unit .feature-image > a:before { */
    /* opacity: 1; */
    /* background: rgba(0, 0, 0, 0.2); */
/* } */
/* .section_4 .item_border .post_images > a:hover:before, .section_4 .post_list_content_unit .feature-image > a:hover:before { */
    /* background: rgba(10, 25, 44, 0.5); */
/* } */
.post_list_content_unit .feature-image a:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.post_list_content_unit .feature-image a:hover:before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.wrapper-footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.wrapper-footer ::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.wrapper-footer :-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.wrapper-footer :-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.wrapper-footer input[type="text"]:focus, .wrapper-footer input[type="email"]:focus {
    background: #fff;
	color: #333;
}
@-moz-keyframes .iconbox-center icon-image {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@-webkit-keyframes .iconbox-center icon-image {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes .iconbox-center icon-image {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.iconbox-center .icon-image {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
.section_1 .iconbox-center .icon-image {
    animation: none;
}
.contact_infor ul li .des {
    width: auto;
    text-align: center;
}
.contact_infor ul li label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.contact_infor ul li label i {
    background: #f3ad3b;
    margin-right: 0;
}
.pages_content .contact_infor ul li .des {
    width: 100%;
}

.enquiry_block .wpcf7-form .wpcf7-form-control-wrap textarea, .enquiry_block .wpcf7-form .wpcf7-form-control-wrap input {
    border: none;
    border-bottom: 1px solid #9E9E9E;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    background: transparent;
    padding-left: 6px;
    height: 32px;
}
.enquiry_block select {
    padding: 6px 12px;
	width: 100%;
	background: transparent;
}
.enquiry_block .wpcf7-form .wpcf7-form-control-wrap textarea:focus, .enquiry_block .wpcf7-form .wpcf7-form-control-wrap input:focus {
    border-color: rgba(10, 25, 44, 1);
}
.enquiry_block  .wpcf7-form .wpcf7-submit {
    font-family: 'Ubuntu', sans-serif !important;
    background: #f6c34e;
    box-shadow: 0 2px 0 0 rgba(246, 195, 78, 0.6);
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border-radius: 50px;
	color:#fff;
}
.enquiry_block .wpcf7-form .wpcf7-form-control-wrap textarea {
    height: 150px;
}
.enquiry_text {
    position: relative;
    background: #fff;
    padding: 10px 30px 30px 30px;
    border-left: 5px solid #00B6E3;
}
.enquiry_text:after {
    display: block;
    content: "";
    position: absolute;
    right: -60px;
    bottom: 0px;
    border-top: 60px solid #00B6E3;
    border-right: 60px solid transparent;
}
.enquiry_text:before {
    display: block;
    content: "";
    width: 60px;
    background-color: #fff;
    position: absolute;
    right: -60px;
    bottom: 60px;
    top: 0;
}
.section_1 .vc_column-inner .iconbox-center img {
    height: 158px;
    object-fit: contain;
}
.site.wrapper-content {
    background: url(/wp-content/uploads/2017/11/background-new14.jpg) !important;
    background-size: cover;
	background-position: center;
}
.slider_text_area a.phone_no {
    color: #fff;
    font-size: 25px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.slider_text_area a.phone_no:hover {
    color: #f6c34e;
}
.page.page-id-1020 section.content-area {
    padding-bottom: 0;
}
.enquiry_block {
    padding-bottom: 60px;
}
.enquiry_block .enquiry_form {
    background: #fff;
    padding: 8px 30px 30px;
}

.icon_box_about img {
    width: 150px;
}
.page section.content-area {
    padding: 0;
}
.content_tour_style_3 img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.content_tour_style_3 .read_more {
    padding: 8px 15px;
	position: relative;
}
.content_tour_style_3 .item_rating {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.content_tour_style_3 .item_rating a {
    padding: 4px 6px;
}
.content_tour_style_2 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.item_content .post_title a {
    color: #00b6e3;
    font-size: 20px;
	transition:all .4s;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
}
.item_content .post_title a:hover {
    color: #F7BE68;
}
.single-woo-tour .description_single .affix-sidebar {
    top: 0;
}
.single-woo-tour .description_single .entry-content-tour {
    display: none;
}
.widget_travel_tour .wrapper-special-tours .inner-special-tours .post_title {
    width: 100%;
    text-align: center;
    left: 0;
    z-index: 99;
}
.wrapper-special-tours .inner-special-tours:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.3);
    top: 0;
}
.wrapper-special-tours .inner-special-tours .item_rating {
    z-index: 99;
    text-align: center;
    left: 32%;
}
.icon_box_about .content-inner {
    background: #fff;
    padding: 30px 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
}
.iconbox-center .heading__primary {
    text-transform: uppercase;
    font-weight: 600;
}
#custom_html-4 h3.widget-title {
    text-align: center;
}
.footer-info {
    text-align: center;
}
.home .shortcode_title.shortcode-title-style_1 {
    margin-bottom: 20px;
}
/* .page-id-1178 .wrapper-content:after,.page-id-1157 .wrapper-content:after { */
    /* content: ""; */
    /* position: absolute; */
    /* background: rgba(0,0,0,0.4); */
    /* left: 0; */
    /* top: 0; */
    /* height: 100%; */
    /* width: 100%; */
/* } */
.page-id-1157 .wrapper-content:after { 
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.page-template-landingpage .site.wrapper-content {
    background: url(/wp-content/uploads/2017/11/background-new14.jpg) !important;
    background-size: cover;
    background-position: center;
}
.landing_content {
    margin: 25vh auto;
    position: relative;
    z-index: 9;
}
.landing_content .slider_text_area_landing_page h2 {
    font-size: 45px !important;
    margin: 0;
    text-align: left !important;
    font-family: 'brush-tipTerrence' !important;
}
.landing_content .slider_text_area_landing_page .banner-typed.banner_typewriter {
    text-align: left;
    margin: 25px 0;
}
.landing_content .slider_text_area_landing_page p {
    text-align: left !important;
    font-family: "Sansation" !important;
    font-size: 22px;
}
.landing_content .slider_text_area_landing_page a.phone_no {
    color: #fff;
    font-size: 20px;
}
.landing_content .slider_text_area_landing_page .btn_gradiant {
    min-width: 220px;
    width: 220px;
	margin: 0 ;
}

.landing_content .slider_text_area_landing_page .btn_gradiant a {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border-radius: 50px;
    font-size: 22px;
	display: block;
	transition:all .4s;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
}
.landing_content .slider_text_area_landing_page .btn_gradiant a:hover{
	opacity: 0.8;
    color: #333;
	background:#f6c34e;
}
.landing_content .contact_form_landing h1 {
    color: #fff;
    margin-top: 0;
}
.landing_page_temp .slider_text_area{
	z-index: 99;
}
.slider_text_area_landing_page {
    margin: auto;
    position: absolute;
    left: 0;
    right: auto;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.contact_form_landing {
    background: rgba(246, 195, 78, 0.6);
    padding: 20px 15px;
    border-top: 5px solid #fff;
    float: right;
}
.contact_form_landing input.wpcf7-form-control.wpcf7-submit {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
	transition:all .4s;
	-webkit-transition:all .4s;
	-moz-transition:all .4s;
}
.contact_form_landing input.wpcf7-form-control.wpcf7-submit:hover{
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}
.contact_form_landing div.wpcf7-response-output {
    /* position: absolute; */
    /* top: -42px; */
    /* width: 100%; */
    /* margin: 0; */
    /* left: 0; */
    background: #fff;
}
.site-header {
    box-shadow: none;
}
.section_2 .item_content .wrapper_content .post_title h4 {
    margin: 0;
}
.slider_text_area_landing_page .banner-typed {
    text-align: left;
}
.slider_text_area_landing_page h2.phys-typingEffect {
    margin-top: 0;
}
.slider_text_area_landing_page .banner-typed .desc {
    font-size: 20px;
}
.slider_text_area_landing_page p {
    text-align: left !important;
}
.contact_form_landing h1 {
    margin-top: 0;
    color: #fff;
}
.slider_text_area_landing_page .banner-typed.banner_typewriter {
    max-width: 100%;
    margin-bottom: 20px;
}

.enquiry_block  .wpcf7-form .wpcf7-submit:hover{
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
	color:#fff;
}

.enquiry_form span.wpcf7-list-item {
    display: block;
    margin: 8px 0 0 0;
}

.enquiry_block span label {
    cursor: pointer;
}
.enquiry_block .wpcf7-form .wpcf7-form-control-wrap input[type="radio"] {
    border: none;
    box-shadow: none;
    height: auto;
    line-height: normal;
    display: inline-block;
    width: 25px;
    margin: 0;
	position:relative;
}
.enquiry_block input[type=radio]:checked:before {
    margin: 0;
    border: 1px solid #1e8cbe;
}
.enquiry_block input[type=radio]:before {
    border: 1px solid #333;
    height: 12px;
    width: 12px;
    font-size: 24px;
    content: "";
    position: absolute;
    border-radius: 50px;
    line-height: 16px;
    top: -5px;
    left: 0;
}

body .vc_gitem-zone.vc_gitem-zone-c.vc_custom_1419328663991 {
    background: transparent !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}
body .ui-tabs .ui-tabs-nav {
    padding: 0;
    background: transparent;
    border-radius: 0;
    text-align: center;
    border: none;
    margin-bottom: 30px;
}
body .ui-widget.ui-widget-content {
    border: none;
}
body .ui-widget-content {
    background: transparent;
}
body .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background: transparent;
}

body .wpb_content_element .wpb_tabs_nav li.ui-tabs-active {
    background: #00B6E3;
}
body .wpb_content_element .wpb_tabs_nav li.ui-tabs-active .ui-tabs-anchor {
    color: #fff;
}

body .wpb_content_element .wpb_tabs_nav li .ui-tabs-anchor {
    padding: 12px 12px;
    font-size: 20px;
    display: block;
    min-width: 100%;
	color: #fff;
}

body .ui-tabs .ui-tabs-nav li {
    margin: 0;
    border-radius: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
    background: #f6c34e;
    height: 50px;
    min-width: 300px;
    text-align: center;
	transition:al .4s;
	-webkit-transition:al .4s;
	-moz-transition:al .4s;
}
body .wpb_content_element .wpb_tabs_nav li.ui-tabs-active:hover {
    background: #00B6E3;
}
body .ui-tabs .ui-tabs-nav li:hover {
    background: #f6c34e;
}
body .ui-tabs .ui-tabs-nav li:hover .ui-tabs-anchor {
    color: #fff;
}
body .vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #fff;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
	border: none;
	border-radius: 50px;
}
body .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover,.vc_btn3.vc_btn3-color-juicy-pink:hover{
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}
body .ui-tabs h4 {
    color: #00b6e3;
}
body .ui-tabs p {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
.enquiry_block span.wpcf7-list-item-label {
    font-weight: normal;
    float: right;
    width: 92%;
}
.img_post.feature-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
body #respond input#submit {
    background: #f6c34e;
    box-shadow: none;
    color: #fff;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border: none;
    border-radius: 50px;
	padding: 8px 42px;
}
body #respond input#submit:hover{
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}
.remodal .read_more {
    height: auto;
    background: transparent;
}
.remodal .read_more span.post_date {
    margin: 0;
    padding: 10px;
    background: #f5f5f5;
}
body .vc_btn3.vc_btn3-color-blue, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat {
    color: #fff;
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
	border: none;
    border-radius: 50px;
	padding: 14px 20px;
}
body .vc_btn3.vc_btn3-color-blue, .vc_btn3.vc_btn3-color-blue.vc_btn3-style-flat:hover {
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}
.remodal .read_more .enquiry {
    margin-top: 10px;
    text-align: right;
}
.remodal .read_more .enquiry .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    font-size: 16px;
}
.remodal .read_more .enquiry .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern:hover {
	background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
}

#slider .flex-viewport {
    min-height: 500px;
    height: 500px;
}
.archive .top_site_main:after {
    background: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.top_site_main .banner-wrapper-destination {
    position: relative;
    z-index: 99;
}
.enquiry-single .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern {
    background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
    border: none;
    border-radius: 50px;
    padding: 14px 20px;
    font-size: 16px;
}
.enquiry-single .vc_btn3.vc_btn3-color-orange.vc_btn3-style-modern:hover {
    background: -webkit-linear-gradient(left, #fec748 , #f89d2f);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #fec748 , #f89d2f);
    color: #fff;
}
.enquiry-single {
    text-align: center;
}
.section_1 .vc_column-inner .iconbox-center {
    border: 1px solid #ccc;
    padding: 15px 3px;
    border-radius: 30px;
    max-height: 475px;
    height: 435px;
}
.section_1 .enquire_now {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
}
.section_1 .enquire_now a {
    padding: 8px 12px;
 background: -webkit-linear-gradient(left, #f89d2f , #fec748);
    background: -o-linear-gradient(right, #f89d2f, #fec748);
    background: -moz-linear-gradient(right, #f89d2f, #fec748);
    background: linear-gradient(to right, #f89d2f , #fec748);
}
.section_1 .enquire_now a:hover {
    opacity: 0.8;
}
.wrapper-footer .box-icon.icon-image {
    text-align: center;
    margin-bottom: 20px;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
.wrapper-footer .box-icon.icon-image img {
    transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
}
.tavels_diary_section1 .vc_gitem-post-data-source-post_title {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.tavels_diary_section1 p:empty {
    display: none;
}
.tavels_diary_section1 .vc_gitem-post-data-source-post_title h4 {
    margin: 0;
}
.tavels_diary_section1 .vc_gitem-post-data-source-post_excerpt {
    display: inline-block;
    float: right;
    margin: 0;
    vertical-align: middle;
}
.tavels_diary_section1 .social-icons a {
    padding-right: 15px;
    font-size: 22px;
    color: #00b6e3;
}
.tavels_diary_section1 .social-icons a:last-child {
    padding-right: 0;
}
.wrapper-content .top_site_main:after { content: ""; position: absolute; background: rgba(0,0,0,0.3); left: 0; top: 0; height: 100%; width: 100%; }
 .top_site_main .banner-wrapper { position: relative; z-index: 99; }

@media (min-width: 1600px){
	.section_1 .vc_column-inner .iconbox-center h4.heading__primary {
    font-size: 18px;
	}
	.section_1 .vc_column-inner .iconbox-center .desc-icon-box{
	font-size: 16px;		
	}
	.icon_box_about img {
    width: 220px;
	}
}

	
@media (min-width: 981px){
	body .navbar-nav > li > a {
    font-weight: 500;
	letter-spacing: 0.5px;
	font-size:15px;
	}
	.navbar-nav > li > a{
	font-size: 14px;	
	}
	.navbar-nav > li{
	padding: 0 15px;	
	}
	.post_list_content_unit .post-list-content .post_list_inner_content_unit .wrapper-meta {
    font-size: 15px;
	}
}


@media (max-width: 1024px){
	.section_1 .vc_col-sm-2 {
    width: 50%;
    margin-bottom: 15px;
    float: left;
	}
	.section_2 .post_images a {
    height: 160px;
	}
	.section_2 .post_images img {
    height: 160px;
	}
}
	
@media (max-width: 991px){
	.section_2 .post_images a{
	height: 120px;
	}
	.section_2 .post_images img {
    height: 120px;
	}
}
	
@media (max-width: 767px){
	.section_2 .post_images a {
    height: 250px;
    width: 250px;
    margin: 0 auto;
	}
	.section_2 .post_images img {
    width: 100%;
    height: 250px;
	}
	.beat_trip_left img {
    width: 100%;
	}
	.slider_text_area .banner-typed.banner_typewriter {
    max-width: 100%;
	}
	.section_2 .tours-type-pain .item-tour {
    padding: 0 3px;
    width: 50%;
    float: left;
	}
	.slider_text_area_landing_page {
    position: static;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
	}
}

@media (max-width: 479px){
	.section_2 .post_images a {
    height: 190px;
	width: auto;
	}
	.section_2 .post_images img {
    height: 190px;
	}
	body .ui-tabs .ui-tabs-nav li {
    min-width: 50%;
	height: 45px;
	}
	body .wpb_content_element .wpb_tabs_nav li .ui-tabs-anchor {
    font-size: 18px;
	}
}	
	
@media (max-width: 375px){
	.callus a {
    bottom: 25%;
	}
	.slider_text_area h2.phys-typingEffect {
    font-size: 20px;
	}
	.slider_text_area .banner-typed .desc {
    font-size: 16px;
    line-height: normal;
	}
	.shortcode_title .title_subtitle {
    font-size: 30px;
	}
	.shortcode_title .title_primary {
    font-size: 35px;
	}
	.beat_trip_right img {
    width: 100%;
    height: auto;
	}
	.tours-type-pain .tours_type_item {
    margin: 0;
	}
	.section_2 .read_more {
    width: 100px;
	}
	.section_2 .read_more a {
    font-size: 13px;
	}
}
	
@media (max-width: 320px){
.section_1 .vc_col-sm-2 {
    width: 100%;
    margin-bottom: 0;
    float: none;
	}
	.callus a {
    bottom: 20%;
	}
	.section_2 .post_images a {
    height: 150px;
	}
	.section_2 .post_images img {
    height: 150px;
	}
}