@media (min-width: 993px) {
	.after_slider.sticky-header {
		position: relative;
	}
	.sticky_header.affix.menu-hidden {
		transform:         translate(0, -100%);
		-webkit-transform: translate(0, -100%);
		-moz-transform:    translate(0, -100%);
		-ms-transform:     translate(0, -100%);
		-o-transform:      translate(0, -100%);
	}
	.width-navigation {
		.menu-right {
			margin:  0;
			@include clearfix();
			display: inline-block;
		}
		.navbar-nav {
			display: inline-block;
			width:   100%;
		}
		&.table-right {
			text-align: right;
		}
	}
	.navigation-menu {
		position: relative;
		padding:  15px 0;
		.tm-table {
			width: 100%;
		}
		nav {
			position: static;
		}
		.navbar-nav li.menu-item-has-children {
			.sub-menu {
				box-shadow:      0 2px 3px rgba(0, 0, 0, .09);
				-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
				-o-box-shadow:   0 2px 3px rgba(0, 0, 0, .09);
				-ms-box-shadow:  0 2px 3px rgba(0, 0, 0, .09);
				li {
					padding: 0 20px;
					&:after {
						content:  "";
						position: absolute;
						left:     20px;
						right:    20px;
						bottom:   0;
						height:   1px;
					}

					a, > span.disable_link {
						@include transition(all 0.2s ease-in-out 0s);
						padding:       12px 0;
						display:       block;
						border-bottom: 1px dashed #fff;
					}

					&:last-child {
						&:after {
							display: none;
						}
						a, > span.disable_link {
							border-bottom: 1px dashed transparent;
						}
					}
				}
			}
		}
		.menu-right {
			padding-left: 0;
			li {
				list-style:     none;
				display:        inline-block;
				vertical-align: middle;
				&:last-child {
					padding-right: 0;
				}
			}
		}

	}

	.navbar-nav a i.fa {
		margin-right: 5px;
	}

	.navbar-nav > li > span:hover {
		background: transparent;
	}

	nav .navbar-collapse {
		padding-right: 0;
		padding-left:  0;
	}

	/****************megamenu**************/
	nav {
		ul, ul ul, ul ul ul {
			margin: 0;
			li {
				margin: 0;
			}
		}
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}

	.navbar-nav {
		float: none;
		> li {
			vertical-align: middle;
			display:        inline-block;
			float:          none;
			margin-left:    -5px;
			position:       relative;
			padding:        0 20px;
			z-index:        20;

			&:after {
				@include transition(all 0.25s ease);
				content:      '';
				display:      block;
				position:     absolute;
				width:        0;
				height:       0;
				z-index:      10;
				top:          100%;
				left:         50%;
				margin-top:   40px;
				visibility:   hidden;
				opacity:      0;
				margin-left:  -4px;
				border-style: solid;
				border-width: 0 4px 4px 4px;
			}
			&:before {
				@include transition(all 0.25s ease);
				content:    '';
				display:    block;
				position:   absolute;
				height:     3px;
				left:       14px;
				right:      14px;
				z-index:    10;
				top:        100%;
				margin-top: 40px;
				visibility: hidden;
				opacity:    0;
			}

			&:last-child {
				margin-left:   0;
				padding-right: 0;
			}
			> a, > span.disable_link {
				padding:        22px 0 22px;
				display:        inline-block;
				position:       relative;
				text-transform: uppercase;
				line-height:    100%;
				vertical-align: bottom;
				@include transition(all 0.2s ease);
			}
			&.item-border > a {
				@include transition(all 0.3s ease-in);
				border:  2px solid;
				padding: 7px 20px;
			}
			> .sub-menu {
				margin-top: 20px;
			}

			&.menu-right {
				&:after, &:before {
					display: none;
				}
				&:hover {
					background-color: transparent !important;
				}
				.widget {
					margin: 0;
					.widget-social {
						a {
							padding-left: 25px;
							font-size:    18px;
							&:first-child {
								padding-left: 5px;
							}
						}
					}
				}
				ul {
					margin: 0;
					> li {
						padding: 0 20px;
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			> ul.sub-menu > li > .sub-menu, > ul.sub-menu {
				@include transition(all 0.25s ease);
			}
			> ul.sub-menu {
				visibility:       hidden;
				width:            225px;
				position:         absolute;
				top:              100%;
				left:             -15px;
				margin-top:       25px;
				padding:          10px 0 10px 0;
				background-color: #fff;
				list-style:       none;
				opacity:          0;
				box-shadow:       1px 1px 3px rgba(0, 0, 0, 0.2);
				> li {
					margin-bottom: 5px;
					position:      relative;
					a {
						display:     block;
						position:    relative;
						padding:     6px 20px 6px 20px;
						font-size:   13px;
						font-weight: 400;
						z-index:     15;
						color:       #333;
					}
				}
			}

			&:hover, &.current-menu-item, &.current_page_parent, &.current-menu-ancestor {
				&:after {
					margin-top: -4px;
					visibility: visible;
					opacity:    1;
					z-index:    9;
				}
				&:before {
					margin-top: 0;
					visibility: visible;
					opacity:    1;
					z-index:    9;
				}
			}

			&:hover {
				> ul.sub-menu {
					margin-top: 0;
					visibility: visible;
					opacity:    1;
				}
			}
		}

		li {
			.sub-menu {
				visibility: hidden;
				opacity:    0;
				margin-top: 25px;
				position:   absolute;
				left:       25px;
				z-index:    9999;
				background: #fff;
				top:        auto;
				padding:    8px 0;
				li {
					list-style: none;
					text-align: left;
					position:   relative;
					a {
						text-decoration: none;
						white-space:     nowrap;
					}
				}
			}
			&:hover {
				> .sub-menu {
					margin-top: 0;
					visibility: visible;
					opacity:    1;
				}
			}
		}
		li.menu-item-has-children {
			.sub-menu {
				min-width:   160px;
				margin-left: 0;
				li {
					width: 100%;
				}
			}
		}
		li {
			.sub-menu .sub-menu {
				left: 100%;
				top:  0;
			}
			.sub-menu li:hover .sub-menu {
				height:  auto;
				z-index: 999;
			}
		}
	}

	.admin-bar {
		.sticky_header {
			&.affix {
				top: 32px;
			}
		}
		.boxed-area {
			.sticky_header.affix {
				top: auto;
			}
		}
	}

	.mobile-menu-open {
 		&.wrapper-container {
			position: relative;
			overflow: hidden;
		}
	}

}


@media (min-width: 768px) {
	.wrapper-tours-slider {
		.owl-dots {
			display: none !important;
		}
		&.shortcode-tour-reviews {
			.owl-dots {
				display: block !important;
			}
		}
	}
}