.woocommerce-page, .woocommerce {
	.tb_single_tour {
		.images_single_left {
			width:         72%;
			float:         left;
			padding-right: 15px;
			padding-left:  15px;
			position:      relative;
			margin-bottom: 0 !important;
			span.onsale {
				z-index: 9;
				left:    auto;
				right:   15px;
			}
			.slides li {
				display: none;
			}
			#slider li:first-child {
				display: block;
			}
		}
		.description_single {
			width: 28%;
			.price {
				.text {
					font-size:    14px;
					margin-right: 5px;
					font-weight:  normal;
				}
				span {
					color: #fff;
				}
				del {
					color:     #fff;
					opacity:   1;
					font-size: 80%;
				}
			}
		}
		.tb_single_tour_details {
			margin-bottom: 30px;
			ul.tb_single_tour_tabs {
				margin:        0;
				padding:       0;
				border-bottom: 3px solid #26BDF7;
				&:before, li:before, li:after {
					display: none;
				}
				li {
					margin:        0 8px 0 0;
					display:       inline-block;
					list-style:    none;
					padding:       0;
					border:        none;
					border-radius: 0;
					a {
						&:after {
							display: none;
						}
						display:        inline-block;
						height:         50px;
						line-height:    51px;
						margin:         0;
						padding:        0 35px;
						color:          #333;
						font-size:      0.933em;
						font-weight:    700;
						font-style:     normal;
						text-transform: uppercase;
						border:         none;
						background:     #f2f2f2;
						@include border-radius(3px 3px 0 0);
						@include transition(background 0.2s ease-in-out, height 0.2s ease-in-out, margin 0.2s ease-in-out);
						&.active {
							background: #26BDF7;
							color:      #fff;
						}
						&:focus {
							outline: none;
						}
					}

				}
			}
			.tb_single_tour_tabs_content {
				padding:    20px;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
				@include border-radius(0 0 3px 3px);
				border:     3px solid #26BDF7;
				border-top: none;
				@include clearfix();
				.tb_single_tour_tab_details {
					@include clearfix();
				}
			}
		}
	}
}

.images_single_left {
	.title-single {
		h1 {
			margin-top: 0;
		}
		border-bottom: 1px solid $border_color;
		margin-bottom: 20px;
		@include clearfix();
		.title {
			float: left;
		}
		.tour_code {
			float:      right;
			margin-top: 7px;
		}
	}
	.tour_after_title {
		@include clearfix();
		margin-bottom: 25px;
		.meta_values {
			width:        30%;
			float:        left;
			position:     relative;
			padding-left: 35px;
			&:before {
				content:    "\e82f";
				font:       normal normal normal 26px/1 'Linearicons-Free';
				position:   absolute;
				top:        50%;
				left:       0;
				margin-top: -13px;
			}
			span {
				color:       #aaa;
				font-size:   90%;
				line-height: 1;
			}
			.value {
				text-transform: uppercase;
				font-weight:    bold;
			}
		}
		.meta_date {
			width:        40%;
			float:        left;
			position:     relative;
			padding-left: 35px;
			margin-top:   15px;
			&:before {
				content:    "\e864";
				font:       normal normal normal 24px/1 'Linearicons-Free';
				position:   absolute;
				top:        50%;
				left:       0;
				margin-top: -13px;
			}
			span {
				display:     block;
				line-height: 1.6em;
				font-weight: bold;
				i {
					font-style:   normal;
					color:        #aaa;
					font-weight:  normal;
					margin-right: 5px;
				}
			}
		}

		.single-adults-children {
			width:    40%;
			float:    left;
			position: relative;
			.text {
				display:     block;
				color:       #aaa;
				font-size:   90%;
				line-height: 1;
			}
			> span {
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				&:before {
					font:           normal normal normal 16px/1 'Linearicons-Free';
					display:        inline-block;
					vertical-align: middle;
					margin-right:   8px;
					margin-top:     -2px;
				}
				&.adults:before {
					content: "\e82a";
				}
				&.children:before {
					content: "\e82b";
				}
			}
		}
		.woocommerce-product-rating {
			width:         20%;
			float:         right;
			text-align:    right;
			margin-bottom: 0 !important;
			.star-rating {
				float:        right !important;
				margin-right: 0;
				&:before {
					color: #ffb300;
				}
			}
			.woocommerce-review-link {
				float:          right;
				width:          100%;
				text-transform: uppercase;
				font-weight:    bold;
			}
		}
		.tour-share {
			width:         30%;
			float:         right;
			text-align:    right;
			margin-bottom: 0 !important;
			margin-top:    9px;
			ul {
				margin: 0 -2px;
				li {
					display:    inline-block;
					list-style: none;
					margin:     0 2px;
					a {
						width:         32px;
						height:        32px;
						text-align:    center;
						border-radius: 50%;
						display:       inline-block;
						color:         #fff;
						i {
							line-height: 32px;
						}
						&:focus, &:visited {
							outline: none;
						}
						&.facebook {
							background: #3b5999;
						}
						&.twitter {
							background: #55acee;
						}
						&.pinterest {
							background: #bd081c;
						}
						&.googleplus {
							background: #dd4b39;
						}
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
}

.cart_item {
	.label {
		color:       initial;
		font-size:   100%;
		font-weight: normal;
		text-align:  left;
		display:     inline-block;
		padding:     0 10px 0 0;
		min-width:   60px;
	}
	.product-quantity {
		.st_adults {
			margin-bottom: 10px;
		}
		.st_children, .st_adults {
			input {
				border:     1px solid #ddd;
				width:      60px;
				padding:    5px;
				text-align: center;
			}
		}
	}
}

.single-woo-tour {
	.woocommerce-tabs {
		padding-top: 30px;
		li a {
			&:focus, &:active, &:visited {
				outline: none;
			}
		}
	}
	.description_single {

		.custom-form-title {
			margin-top: 25px;
		}
		.custom_from {
			padding-top: 20px;
			p:last-child {
				margin-bottom: 0;
			}
			input[type="submit"] {
				margin-bottom: 0 !important;
				width:         100%;
				text-align:    center;
			}
			div.wpcf7 .ajax-loader {
				position: absolute;
			}
			div.wpcf7-response-output {
				margin: 0;
			}
		}
		.booking, .another_from {
			@include clearfix();
			padding-top: 20px;
			margin-top:  21px;
			input[type="submit"] {
				margin-bottom: 0 !important;
			}
		}
		.widget-area {
			width:         100%;
			padding-left:  0;
			padding-right: 0;
		}
		.entry-content-tour {
			border:        1px solid $border_color;
			padding:       20px;

			z-index:       2;
			margin-bottom: 30px;
			border-radius: 2px;
			p.price {
				margin:        -21px;
				padding:       15px 20px;
				border-radius: 3px 3px 0 0;
				z-index:       99;
			}
		}
		.affix-sidebar {
			top:           -116px;
			position:      relative;
			@include clearfix();
			z-index:       99;
			border-radius: 3px 3px 0 0;
			&.affix {
				top:      0;
				position: fixed;
				width:    297px;
			}
		}
		#hotel-booking-form {
			.form-field {
				@include clearfix();
				.width_50 {
					width:         50%;
					float:         left;
					margin-bottom: 20px;
				}
				span {
					color: #999;
				}
				&.qty_room {
					margin-bottom: 20px;
					input {
						width:       auto;
						margin-left: 20px;
					}
				}
			}
		}
		#tourBookingForm, #hotel-booking-form {
			input[type="text"] {
				border:        none;
				border-bottom: 2px solid $border_color;
				border-radius: 0;
				background:    transparent;
				&:focus {
					outline:      none;
					border-color: #039be5;
				}
			}
			.from-group {
				margin-bottom: 20px;
				@include clearfix();
				.input-number-ticket {
					width:          60px;
					display:        inline-block;
					vertical-align: middle;
					margin-right:   5px;
					input:focus {
						outline: none;
					}
				}
				.total_price_arrow .label {
					color:       initial;
					font-size:   100%;
					font-weight: normal;
					text-align:  left;
					min-width:   62px;
					display:     inline-block;
					padding:     0 10px 0 0;
				}
				//.total_price_arrow {
				//	width:        calc(100% - 60px);
				//	float:        left;
				//	padding-left: 15px;
				//	padding-top:  4px;
				//}
			}
		}
	}
}

.related.tours {
	margin-top: 30px;
	h2 {
		margin-bottom:  20px;
		padding-bottom: 15px;
		position:       relative;
		&:before {
			position: absolute;
			left:     0;
			width:    35px;
			height:   2px;
			content:  "";
			bottom:   0;
		}
	}
}

.interary-item {
	position:      relative;
	margin-bottom: 30px;
	min-height:    60px;
	&:last-child {
		margin-bottom: 0;
	}
	.icon-left {
		position:      absolute;
		width:         60px;
		height:        60px;
		line-height:   56px;
		text-align:    center;
		border-radius: 50%;
		font-size:     24px;
	}
	.item_content {
		padding-left: 85px;
		overflow:     hidden;
		ul, ol {
			margin: 0 0 1.5em 2em;
		}
		h2, h3 {
			margin-top:    17px;
			margin-bottom: 15px;
		}
	}
}