.widget-area {
	.search_tour {
		text-align:    center;
		@include clearfix();
		border-radius: 3px;
		padding:       20px;
		color:         #fff;
		.form-block_title {
			margin-top:    5px;
			color:         #fff;
			margin-bottom: 5px;
			font-weight:   700;
		}
		.form-block__description {
			margin-bottom: 20px;
		}
		.form-field-input, .form-field-select {
			margin-bottom: 15px;
		}
		.form-field-select {
			position: relative;
			select {
				-webkit-appearance: none;
				-moz-appearance:    none;
				text-indent:        1px;
				text-overflow:      '';
			}
			&:before {
				content:      "";
				width:        0;
				height:       0;
				border-left:  4px solid transparent;
				border-right: 4px solid transparent;
				border-top:   6px solid #333;
				position:     absolute;
				right:        10px;
				top:          50%;
				margin-top:   -3px;
				z-index:      1;
			}
		}

		input, select, button {
			width:         100%;
			background:    rgba(255, 255, 255, 0.9);
			@include transition(all 0.1s ease-in-out);
			border:        none;
			border-radius: 3px;
			height:        45px;
			line-height:   21px;
			padding:       12px 15px;
			&:focus {
				background: #fff;
				outline:    none;
			}
		}
		button {
			color:          #fff;
			text-transform: uppercase;
			font-weight:    700;
			margin-bottom:  0;
		}
	}
}

@-moz-document url-prefix() {
	select {
		option {
			padding: 2px 10px
		}
	}
	.widget-area {
		.search_tour {
			.form-field-select {
				select {
					padding: 12px 5px;
				}
			}
		}
	}
}