.list_content > li {
	float:   left;
	padding: 15px
}

.post_images {
	background: #d8d8d8;
	min-height: 125px;
	position:   relative;
	margin:     -1px;
	a {
		display: inline-block;
	}
	> a {
		display: block;
	}
	span.price, .price {
		position:       absolute;
		top:            14px;
		left:           0;
		display:        inline-block;
		color:          #333;
		letter-spacing: 1px;
		font-size:      14px;
		font-weight:    700;
		padding:        4px 7px;
		border-radius:  0 3px 3px 0;
		del {
			font-size:   90%;
			font-weight: normal;
			opacity:     0.9;
		}
		ins {
			text-decoration: none;
		}
	}
	.group-icon {
		position:   absolute;
		right:      0;
		bottom:     0;
		//padding:    6px;
		background: rgba(0, 0, 0, 0.3);
		a {
			margin:   6px 12px;
			color:    #fff;
			position: relative;
			i {
				font-size: 18px;
			}
			&:before {
				content:    "";
				width:      1px;
				position:   absolute;
				top:        5px;
				bottom:     5px;
				left:       -13px;
				background: rgba(255, 255, 255, 0.7);
			}
			&.frist:before {
				display: none;
			}
		}
		.tooltip {
			white-space: nowrap;
		}
	}
}

.item_content .wrapper_content {
	padding:    14px;
	background: #fff;
	.post_title h4 {
		margin-top: 0;
	}
	.post_description {
		margin-bottom: 10px;
		ul {
			margin: 0;
			li {
				list-style: none;
			}
		}
	}
}

.item_border {
	border:        1px solid $border_color;
	margin-bottom: 2px;
	box-shadow:    0 1px 3px rgba(0, 0, 0, 0.09);
	background:    #fff;
}

.post_title h4 a {
	&:hover {
		color: #26BDF7;
	}
}

.post_date {
	text-transform: uppercase;
	color:          #666;
	margin-bottom:  10px;
	display:        block;
	text-align:     left;
	&:before {
		content:        "\e864";
		font:           normal normal normal 16px/1 'Linearicons-Free';
		display:        inline-block;
		vertical-align: middle;
		margin-right:   8px;
		margin-top:     -2px;
	}
}

.read_more {
	background: #f5f5f5;
	height:     40px;
}

.woocommerce ul.products li.product .read_more .add_to_cart_button, .woocommerce ul.products li.product .read_more .wc-forward {
	margin-top: 0 !important;
}

.read_more_button, .read_more .product_type_tour_phys,
.woocommerce ul.products li.product .read_more .add_to_cart_button,
.woocommerce ul.products li.product .read_more .product_type_tour_phys,
.woocommerce ul.products li.product .read_more .wc-forward {
	float:          right;
	color:          #fff;
	width:          55%;
	text-align:     center;
	line-height:    41px;
	padding:        0 0 0 20px;
	background:     #26BDF7;
	position:       relative;
	font-weight:    700;
	font-size:      12px;
	margin-top:     0;
	margin-right:   -1px;
	margin-bottom:  -1px;
	border-radius:  0;
	text-transform: uppercase;
	&:before {
		position:      absolute;
		top:           0;
		left:          0;
		content:       "";
		width:         0;
		height:        0;
		border-top:    20px solid transparent;
		border-left:   20px solid #f5f5f5;
		border-bottom: 20px solid transparent;
	}
	i {
		margin-left: 3px;
	}
	&:hover {
		color: #fff
	}
}

.woocommerce ul.products li.product .read_more .added {
	display: none;
}

.item_rating {
	float:       left;
	width:       45%;
	padding:     0 10px 0 15px;
	position:    relative;
	height:      40px;
	line-height: 40px;
	text-align:  center;

	.star-rating {
		float:          left;
		overflow:       hidden;
		position:       relative;
		height:         1em;
		line-height:    1;
		font-size:      1em;
		width:          6.5em;
		font-family:    star;
		letter-spacing: 4px;
		margin-top:     12px !important;
		font-weight:    normal;
		color:          #ffb300;
		&:before {
			content:  "\73\73\73\73\73";
			float:    left;
			top:      0;
			left:     0;
			position: absolute;
		}
		span {
			overflow:    hidden;
			float:       left;
			top:         0;
			left:        0;
			position:    absolute;
			padding-top: 1.5em;
			&:before {
				content:  "\53\53\53\53\53";
				top:      0;
				position: absolute;
				left:     0;
			}
		}
	}
}

.item-tour {
	padding: 0 15px;
}

.checklist-icon-check {
	li {
		line-height: 22px;
	}
}

.wrapper-blog-content {
	@include clearfix();
	article {
		@include clearfix();
		margin-bottom:  30px;
		padding-bottom: 30px;
		border-bottom:  1px solid $border_color;
		&:last-child {
			//margin-bottom:  0;
			padding-bottom: 0;
			border-bottom:  none;
		}
		.entry-content {
			margin-top: 0;
		}
		.img_post {
			width:        260px;
			float:        left;
			text-align:   center;
			margin-right: 20px;
			overflow:     hidden;
			a {
				display: block;
				@include transition(all 0.3s ease-out);
				&:hover {
					@include transform(scale(1.1));
				}
			}
		}
		.entry-content {
			overflow: hidden;
		}
		.content-thumbnail {
			width:        calc(100% - 260px);
			float:        left;
			padding-left: 30px;
		}
		.entry-footer {
			> span {
				color:        #000;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				a {
					opacity: 0.8;
				}
			}
		}
	}
	.entry-content {
		.entry-title {
			margin-top:    0;
			margin-bottom: 5px;
		}
		.entry-meta {
			font-style: italic;
			opacity:    0.8;
			font-size:  90%;
		}
		.entry-header {
			margin-bottom: 15px;
		}
	}
	.sticky {
		background: #f7f7f7;
		padding:    30px;
		border:     1px solid $border_color;
	}
}