.phys-breadcrumb {
	margin: 0;
	li {
		display: inline-block;
		&:after {
			content: "\f105";
			margin:  0 5px;
			font:    normal normal normal 14px/1 FontAwesome;
		}
		a {
			text-decoration: none;
			color:           inherit;
		}
	}
}

.phys-breadcrumb li:last-child:after {
	content: "";
	margin:  0
}

.breadcrumbs-wrapper {
	margin-bottom: 15px;
}