#ui-datepicker-div {
	border-radius: 0;
	border:        1px solid #eee;
	z-index:       9999 !important;
	padding:       5px !important;
	min-width:     300px
}

#ui-datepicker-div button, #ui-datepicker-div button:focus, #ui-datepicker-div select, #ui-datepicker-div select:focus {
	outline:    0;
	box-shadow: none
}

#ui-datepicker-div .ui-state-active {
	color: #FFF
}

#ui-datepicker-div .ui-timepicker-div
select {
	background: #fff !important;
	padding:    4px 0
}

#ui-datepicker-div .ui-timepicker-div > dl {
	margin-bottom: 0;
	padding-top:   20px
}

#ui-datepicker-div .ui-timepicker-div > dl:after {
	display: block;
	content: '';
	clear:   both
}

#ui-datepicker-div .ui-timepicker-div
.ui_tpicker_time {
	width: 100%
}

#ui-datepicker-div .ui-timepicker-div .ui_tpicker_hour, #ui-datepicker-div .ui-timepicker-div .ui_tpicker_hour_label, #ui-datepicker-div .ui-timepicker-div .ui_tpicker_minute, #ui-datepicker-div .ui-timepicker-div
.ui_tpicker_minute_label {
	width: 50%;
	float: left
}

.daterangepicker.single .calendar, .daterangepicker.single .ranges, .ranges {
	float: none
}

#ui-datepicker-div .ui-timepicker-div .ui_tpicker_hour, #ui-datepicker-div .ui-timepicker-div
.ui_tpicker_minute {
	text-align: left
}

#ui-datepicker-div
select {
	margin: 0
}

#ui-datepicker-div select.ui-timepicker-select {
	width: 50%
}

#ui-datepicker-div .ui-state-highlight, #ui-datepicker-div .ui-state-hover, #ui-datepicker-div .ui-widget-content .ui-state-highlight, #ui-datepicker-div .ui-widget-header .ui-state-highlight {
	color: #fff
}

#ui-datepicker-div .ui-datepicker-title {
	font-size:      13px;
	text-transform: capitalize;
	color:          #fff;
	margin:         0;
	border-radius:  0;
	line-height:    26px;
	font-weight:    700
}

#ui-datepicker-div .ui-datepicker-header {
	border:     0 !important;
	background: 0 0
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev {
	left: 1px
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
	right: 1px
}

#ui-datepicker-div .ui-datepicker-buttonpane
button {
	font-size: 13px;
	color:     #fff;
	padding:   0 20px;
	border:    none !important
}

#ui-datepicker-div .ui-datepicker-next, #ui-datepicker-div .ui-datepicker-prev {
	height: 42px !important;
	border: 0 !important;
	top:    0
}

#ui-datepicker-div .ui-corner-all, #ui-datepicker-div .ui-corner-bottom, #ui-datepicker-div .ui-corner-br, #ui-datepicker-div .ui-corner-right {
	border-radius: 0;
	border:        1px solid #eee
}

#ui-datepicker-div
dt {
	font-size:   13px;
	line-height: 26px
}

#ui-datepicker-div
dd {
	font-size:     18px;
	margin-bottom: 17px
}

#ui-datepicker-div
th {
	font-weight: 400;
	font-size:   14px
}

#ui-datepicker-div
td {
	font-size: 13px
}

#ui-datepicker-div
table {
	border:        0;
	margin-bottom: 0
}

#ui-datepicker-div table td, #ui-datepicker-div table
tr {
	border-color: #eee
}

#ui-datepicker-div .ui-slider-horizontal {
	height: 7px
}

#ui-datepicker-div .ui-slider-horizontal .ui-slider-handle {
	height:        15px;
	width:         15px;
	margin-left:   0;
	border-radius: 50%
}

#ui-datepicker-div .ui-timepicker-div > dl {
	text-align: center
}