/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	# Normalize
--------------------------------------------------------------*/
* {
	margin:  0;
	padding: 0;
}

html {
	font-family:              sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display:        inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height:  0;
}

[hidden],
template {
	display: none;
}

img {
	max-width: 100%;
	height:    auto;
}

a {
	background-color: transparent;
	outline:          none;
}

button {
	outline:         none;
	text-decoration: none;
}

a:active, a:hover, a:focus, a:visited {
	outline:            none !important;
	text-decoration:    none;
	border:             none;
	-moz-outline-style: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin:    0.67em 0;
}

mark {
	background: #ff0;
	color:      #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size:      75%;
	line-height:    0;
	position:       relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height:     0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size:   1em;
}

button,
input,
optgroup,
select,
textarea {
	color:  inherit;
	font:   inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor:             pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border:  0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding:    0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border:  1px solid $border_color;
	margin:  0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border:  0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing:  0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 15px;
}

p:last-child {
	margin-bottom: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background:    #eee;
	font-family:   "Courier 10 Pitch", Courier, monospace;
	font-size:     15px;
	font-size:     0.9375rem;
	line-height:   1.6;
	margin-bottom: 1.6em;
	max-width:     100%;
	overflow:      auto;
	padding:       1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size:   15px;
	font-size:   0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor:        help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

//*,
//*:before,
//*:after {
//	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
//	box-sizing: inherit;
//}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border:           0;
	height:           1px;
	margin-bottom:    1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left:   1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height:    auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width:  100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border:       1px solid;
	border-color: #ccc #ccc #bbb;
	background:   #e6e6e6;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width:        100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin:      1.5em 0;
	overflow:    hidden;
	padding-top: 10px;
}

.site-main .comment-navigation .nav-links {
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float:      left;
	width:      50%;
	text-align: left;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float:      right;
	text-align: right;
	width:      50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip:     rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height:   1px;
	width:    1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius:    3px;
	box-shadow:       0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip:             auto !important;
	color:            #21759b;
	display:          block;
	font-size:        14px;
	font-size:        0.875rem;
	font-weight:      bold;
	height:           auto;
	left:             5px;
	line-height:      normal;
	padding:          15px 23px 14px;
	text-decoration:  none;
	top:              5px;
	width:            auto;
	z-index:          100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
}

img {
	&.alignleft {
		margin-right: 25px;
	}
	.alignright {
		margin-left: 25px;
	}
}

.alignright {
	float: right;
}

.aligncenter {
	clear:        both;
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content:      "";
	display:      table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

/*.hentry {*/
/*margin: 0 0 1.5em;*/
/*}*/

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear:  both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border:        none;
	margin-bottom: 0;
	margin-top:    0;
	padding:       0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width:     100%;
}

.wp-caption img[class*="wp-image-"] {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin: 0 -15px 1.5em -15px;
	figure {
		margin: 0;
	}
}

.gallery-item {
	display:        inline-block;
	text-align:     center;
	vertical-align: top;
	padding:        15px;
	width:          100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*#table*/
table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 4px 6px;
}

table {
	border-collapse: separate;
	border-spacing:  0;
	border-width:    1px 0 0 1px;
	margin-bottom:   24px;
	width:           100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align:  left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight:  700;
}

td {
	border-width: 0 1px 1px 0;
}

dd {
	margin-bottom: 24px;
}

.post-password-form {
	label {
		font-weight: normal;
		input[type="password"] {
			padding: 6px 15px;
			border:  1px solid #E8E8E8;
		}
	}
	input[type="Submit"] {
		padding:       6px 20px;
		border:        none;
		background:    #181818;
		color:         #fff;
		box-shadow:    0 0 0;
		border-radius: 0;
	}
}

input[type=radio], input[type=checkbox] {
	border:             1px solid #b4b9be;
	background:         #fff;
	color:              #555;
	clear:              none;
	cursor:             pointer;
	display:            inline-block;
	line-height:        0;
	height:             16px;
	margin:             -4px 4px 0 0;
	outline:            0;
	padding:            0 !important;
	text-align:         center;
	vertical-align:     middle;
	width:              16px;
	min-width:          16px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow:         inset 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-transition: .05s border-color ease-in-out;
	transition:         .05s border-color ease-in-out;
	&:focus, &:active {
		outline: none;
	}
}

input[type=radio]:checked + label:before {
	color: #82878c
}

input[type=radio] {
	-webkit-border-radius: 50%;
	border-radius:         50%;
	margin-right:          4px;
	line-height:           10px
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before {
	float:                   left;
	display:                 inline-block;
	vertical-align:          middle;
	width:                   16px;
	font:                    400 21px/1 FontAwesome;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale
}

input[type=checkbox]:checked:before {
	content:   "\f00c";
	margin:    1px 0 0 0;
	color:     #1e8cbe;
	font-size: 12px;
}

input[type=radio]:checked:before {
	content:               "\f111";
	text-indent:           -9999px;
	-webkit-border-radius: 50px;
	border-radius:         50px;
	font-size:             24px;
	width:                 6px;
	height:                6px;
	margin:                4px;
	line-height:           16px;
	background-color:      #1e8cbe
}

@-moz-document url-prefix() {
	.form-table input.tog, input[type=radio], input[type=checkbox] {
		margin-bottom: -1px
	}
}
