.search-overlay {
	position:   fixed;
	width:      100%;
	height:     100%;
	top:        0;
	left:       0;
	right:      0;
	@include transition(all .3s ease);
	@include transform(scale(0.8));
	visibility: hidden;
	opacity:    0;
	.background-overlay {
		width:      100%;
		height:     100%;
		background: rgba(0, 0, 0, 0.9);
		position:   absolute;
		z-index:    99;
	}
	&.search-show {
		visibility: visible;
		opacity:    1;
		z-index:    9999;
		@include transform(scale(1));
	}
	.closeicon {
		position: fixed;
		right:    3%;
		top:      16px;
		width:    32px;
		height:   32px;
		opacity:  1;
		z-index:  999;
		cursor:   pointer;
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:before, &:after {
			position:         absolute;
			left:             15px;
			content:          ' ';
			height:           33px;
			width:            1px;
			background-color: white;
		}
	}
	.search-form {
		width:      100%;
		text-align: center;
		display:    inline-block;
		position:   fixed;
		top:        40%;
		left:       0;
		z-index:    999;
		input:focus {
			outline: none;
		}
		.search-field {
			width:          400px;
			height:         60px;
			line-height:    60px;
			border:         1px solid #ddd;
			padding:        0 15px;
			font-weight:    normal;
			font-size:      16px;
			vertical-align: middle;
		}

		.search-submit {
			border:         none;
			height:         60px;
			line-height:    60px;
			width:          60px;
			margin-left:    -4px;
			color:          #333;
			@include transition(all .2s ease);
			vertical-align: middle;
			&:hover {
				color: #fff;
			}
		}
		.font-awesome {
			font: normal normal normal 18px/1 FontAwesome;;
		}
	}
}

// search tour & hotel
.hotel-booking-search, .travel-booking-search {
	.hb-form-field {
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin:             0;
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	}
}

.tab-search-tour-hotel {
	position:   relative;
	margin-top: -173px;
}

.vc_row-no-padding {
	.sc-search-tour-hotel {
		.content-tab-search .tab-content, .nav-tab-search {
			max-width:     1170px;
			margin:        0 auto;
			padding-left:  15px;
			padding-right: 15px;
		}
	}
}

.sc-search-tour-hotel {
	.hotel-booking-search, .travel-booking-search {
		form {
			padding: 0;
		}
		.hb-form-field {
			input, select {
				border: 1px solid $border_color;
			}

		}
	}
	.nav-tab-search {
		li {
			display:    inline-block;
			list-style: none;
			a {
				padding:            8px 20px;
				text-transform:     uppercase;
				display:            block;
				box-sizing:         border-box;
				background:         rgba(0, 0, 0, 0.4);
				color:              #fff;
				-webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
				transition:         background .2s ease-in-out, color .2s ease-in-out;
				i {
					display:        inline-block;
					width:          30px;
					height:         30px;
					line-height:    30px;
					background:     rgba(0, 0, 0, 0.3);
					text-align:     center;
					border-radius:  50%;
					vertical-align: middle;
					margin-right:   12px;
				}
				span {
					display:        inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	.content-tab-search {
		padding-top:    15px;
		padding-bottom: 15px;
		background:     rgba(0, 0, 0, .4);
	}
}
