.widget-area {
	ul {
		margin-left:   0;
		margin-bottom: 0;
	}
	.search_tour {
		margin: 0 0 30px 0;
	}
	aside {
		overflow: hidden;
		margin:   0 0 30px 0;
		&:last-child {
			margin-bottom: 0;
		}
		.widget-title {
			margin-bottom:  20px;
			margin-top:     0;
			padding-bottom: 15px;
			text-transform: uppercase;
			position:       relative;
			&:before {
				position: absolute;
				left:     0;
				width:    35px;
				height:   2px;
				content:  "";
				bottom:   0;
			}
		}
		ul li {
			padding-top:    8px;
			padding-bottom: 8px;
			list-style:     none;
		}
		select {
			max-width: 100%;
			width:     100%;
			border:    1px solid #ddd;
			padding:   6px 10px;
			&:focus {
				outline:    none;
				box-shadow: 0 0 0;
			}
		}
		&.widget_archive ul, .product-categories, &.widget_categories ul {
			li {
				border-bottom: 1px solid #ddd;
				&:last-child {
					border-bottom: 0
				}
				.count {
					float: right;
				}
			}
		}
		&.widget_categories ul, &.widget_archive ul {
			li.cat-item, li {
				text-align: right;
				overflow:   hidden;
				a {
					float: left;
				}
			}
		}
	}
	.screen-reader-text {
		display: none;
	}
	.widget_tag_cloud, .widget_product_tag_cloud {
		.tagcloud {
			margin: 0 -5px;
			a {
				font-size:     100% !important;
				margin:        5px;
				padding:       4px 8px;
				display:       inline-block;
				border:        1px solid #ddd;
				border-radius: 2px;

			}
		}
	}
	.woocommerce {
		ul.cart_list li {
			margin-bottom: 20px;
			padding:       0;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				width:        100px;
				float:        left;
				margin-left:  0;
				margin-right: 15px;
			}
		}
		ul.product_list_widget {
			li {
				margin-bottom: 20px;
				padding:       0;
				&:last-child {
					margin-bottom: 0;
				}
				.thumb-image {
					width:         90px;
					float:         left;
					border-radius: 5px;
					overflow:      hidden;
					img {
						width:  auto;
						margin: 0;
					}
				}

				.content {
					padding-left: 15px;
					width:        calc(100% - 90px);
					float:        left;
					.woocommerce-Price-amount.amount {
						color:       #5a626c;
						font-weight: 700;
					}
					del {
						.woocommerce-Price-amount.amount {
							font-weight: normal;
							color:       #9a9696;
						}
					}
					ins {
						text-decoration: none;
					}
					.posted_in a {
						font-style:  italic;
						opacity:     0.7;
						line-height: 1;
						display:     inline-block;
					}
					p {
						margin-bottom: 10px;
					}
					a {
						font-weight: normal;
					}
				}
			}
		}
	}
	.widget_categories, .widget_pages {
		ul li {
			padding-top:    10px;
			padding-bottom: 10px;
			border-bottom:  1px solid #ddd;
			&:last-child {
				border-bottom:  none;
				padding-bottom: 0;
			}
		}
		.children {
			border-top:  1px solid #ddd;
			margin-left: 20px;
			margin-top:  10px;
		}
	}

	#wp-calendar {
		th {
			background: rgba(0, 0, 0, 0.05);
		}
		td, th {
			text-align: center;
		}
	}
}

/* search */
.widget-area, .not-found {
	.search-form {
		position: relative;
		&:after {
			content:  "\f002";
			font:     normal normal normal 14px/1 FontAwesome;
			position: absolute;
			right:    13px;
			top:      8px;
		}
		label {
			width:       100%;
			display:     inline-block;
			font-weight: normal;
			.screen-reader-text {
				display: none
			}
			.search-field {
				width:         100%;
				border-radius: 0;
				box-shadow:    none;
				border:        1px solid #ddd;
				padding:       5px 10px;
			}
			.search-submit {
				margin-left:  0;
				margin-right: 0;
			}
		}
		.search-submit {
			display: none;
			margin:  0;
			padding: 0 16px;
		}
	}
}

.not-found {
	text-align: center;
	.search-form {
		max-width: 300px;
		margin:    20px auto;
	}
}

.widget_rss {
	.rsswidget {
		font-weight: bold;
	}
	.rss-date {
		display:    block;
		font-style: italic;
		font-size:  90%;
	}
	cite {
		color:       #000;
		font-weight: bold;
	}
}

.widget_nav_menu {
	ul li {
		display: block;
	}
	ul ul {
		margin: 0 0 0 15px;
		li {
			margin:  0;
			display: block;
		}
	}
	.sub-menu {
		text-transform: none;
	}
	li.menu-item-has-children {
		padding-bottom: 0;
	}
	.nav_desc {
		display: none;
	}
}

.widget_recent_entries {
	ul li {
		.post-date {
			font-style: italic;
			display:    block;
		}
	}
}

#secondary {
	.widget_tag_cloud .tagcloud a {
		color: #333;
		&:hover {
			color: #fff;
		}
	}
}