/******************cherck list ********************/
.description_single {
	width:         39%;
	float:         left;
	padding-right: 15px;
	padding-left:  15px;
	.post_description {
		border-width: 1px 0;
		border-style: dotted;
		border-color: $border_color;
		margin:       15px 0;
		padding:      15px 0;
		ul {
			margin-bottom: 0;
			li {
				margin: 3px 0
			}
		}
	}
	h3 {
		text-transform: uppercase;
		color:          #333
	}
	.title h1 {
		margin-top: 0;
	}
}

.infor_header {
	margin:     0;
	background: #14785e;
	color:      #FFF;
	li {
		display: inline-block;
		margin:  10px;
		color:   inherit;
		span {
			padding-right:  7px;
			text-transform: uppercase;
		}
	}
}

.archive-header {
	margin-bottom: 25px;
}

.archive-header .title_page {
	background:     #14785e;
	color:          #FFF;
	padding:        15px 20px;
	margin:         0;
	text-transform: uppercase;
	font-size:      20px;
}

.post_price_single {
	text-transform: uppercase;
	font-weight:    bold;
	font-size:      33px;
	color:          #333;
	line-height:    30px;
	span {
		display:        block;
		text-transform: none;
		font-weight:    normal;
		font-size:      14px
	}
}

.tour_code_single {
	margin:       15px 0;
	background:   #e93001;
	position:     relative;
	display:      inline-block;
	height:       35px;
	line-height:  35px;
	color:        #fff;
	padding-left: 15px;
	span {
		font-weight: bold;
	}
	&:after {
		position:      absolute;
		top:           0;
		right:         -20px;
		content:       "";
		width:         0;
		height:        0;
		border-left:   20px solid #e93001;
		border-top:    17px solid transparent;
		border-bottom: 18px solid transparent;
	}
}

.top_content_single {
	@include clearfix();
	.list-content {
		padding-top:    30px;
		padding-bottom: 10px;
		.tours-tabs_table td, .tours-tabs_table th {
			padding-left: 0;
		}
		&:focus {
			outline: none;
		}
	}
	.title-list-content {
		display:        block;
		margin-bottom:  25px;
		margin-top:     0;
		border-bottom:  1px solid #E8E8E8;
		padding-bottom: 20px;
	}
	.tabs-fixed-scroll {
		background:    #fff;
		left:          0;
		right:         0;
		z-index:       98;
		border-bottom: 1px solid #E8E8E8;
		.width70 {
			width: 72%;
			float: left;
		}
		.wc-tabs-scroll {
			margin: 0;
			li {
				display: inline-block;
				a {
					padding:   16px 20px;
					display:   inline-block;
					font-size: 1.1em;
					position:  relative;
					&:after {
						position: absolute;
						content:  "";
						bottom:   -1px;
						height:   2px;
						width:    100%;
						left:     0;
						right:    0;
					}
				}
			}
		}
		&.show-fix {
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition:    all 0.4s ease-in-out;
			-ms-transition:     all 0.4s ease-in-out;
			-o-transition:      all 0.4s ease-in-out;
			transition:         all 0.4s ease-in-out;
			box-shadow:         0 1px 3px rgba(0, 0, 0, 0.15);
			-moz-box-shadow:    0 1px 3px rgba(0, 0, 0, 0.15);
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
		}
		&.no-fix-scroll {
			.container, .width70 {
				width:   100%;
				padding: 0;
			}
		}
	}
}

.affix-sidebar.show-fix, .affix-sidebar.show-fix p.price {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}

.site-content .entry-content {
	background: #26BDF7;
	padding:    10px
}

.thumbnail_product {
	padding-left:  31px;
	position:      relative;
	padding-right: 31px;
	.slides {
		margin-bottom: 0;
		@include clearfix();
	}
	.flex-viewport {
		li {
			margin: 20px 20px 10px 0;
			img {
				opacity: 1;
				filter:  alpha(opacity=100);
				cursor:  pointer;
			}
			&.flex-active-slide img {
				opacity: 0.6;
				filter:  alpha(opacity=60);
			}
		}
	}
}

.flex-prev, .flex-next {
	position:    absolute;
	top:         50%;
	left:        5px;
	font-family: 'Glyphicons Halflings';
	width:       20px;
	height:      20px;
	margin-top:  -10px;
	color:       #ccc
}

.flex-prev:before {
	content: "\e079";
}

.flex-next:before {
	content: "\e080";
}

.flex-next {
	left:  auto;
	right: 5px
}

.flex-prev:hover, .flex-next:hover {
	color: #000
}

.flex-disabled {
	display: none
}

.wrapper-map {
	position:       relative;
	padding-bottom: 36.25%;
	height:         0;
	#mapCanvas {
		position: absolute;
		top:      0;
		left:     0;
		width:    100%;
		height:   100%
	}
}

.table_pakages tr td {
	border-bottom:  1px solid #aaa;
	padding:        10px 0;
	text-align:     center;
	text-transform: uppercase;
	font-weight:    bold;
}

.site-content .entry-content .wpb_tabs.wpb_content_element {
	margin-bottom: 0
}

.site-content .entry-content .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background:    #fff;
	border-radius: 0 3px 3px 3px;
	padding:       20px
}

.table_pakages tbody tr {
	background:   #eee;
	border-left:  1px solid #aaa;
	border-right: 1px solid #aaa
}

.table_pakages tbody tr.no_background {
	background:   #fff;
	border-left:  1px solid #fff;
	border-right: 1px solid #fff;
}

.table_pakages tbody tr.no_background td {
	font-weight: normal;
	font-style:  italic;
	font-size:   12px
}

.table_pakages thead tr {
	background: #c9e7f2
}

.table_pakages thead tr th {
	text-align: center;
	padding:    10px 0
}

.site-content .entry-content .wpb_content_element .wpb_tabs_nav li {
	background: #77d0f2
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li {
	margin: 0
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li a {
	text-transform: uppercase;
	color:          #fff
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li:last-child {
	border-radius: 0 3px 0 0
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li.ui-state-active {
	font-weight: bold;
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li.ui-state-active,
.site-content .entry-content .wpb_tabs .wpb_tabs_nav li:hover {
	background:     #fff;
	margin-top:     -6px;
	padding-top:    3px;
	padding-bottom: 3px;
	border-radius:  3px 3px 0 0
}

.site-content .entry-content .wpb_tabs .wpb_tabs_nav li.ui-state-active a,
.site-content .entry-content .wpb_tabs .wpb_tabs_nav li:hover a {
	color: #000
}

.site-content .entry-content .wpb_tabs .ui-tabs {
	padding-top: 10px
}

.section-white.padding-1x {
	padding:       15px 15px 0 15px;
	margin-bottom: 30px;
}

.single-post {
	.comments-area {
		padding-bottom: 50px;
	}
}