/**
 * All Tax meta class
 *
 * JS used for the custom fields and other form items.
 *
 * Copyright 2012 Ohad Raz (admin@bainternet.info)
 */

/* =Common Rules for all fields.
----------------------------------------------- */
.form-table td.at-field{ border: 1px solid #DDD; padding: 10px 10px 20px; margin: 0; font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, sans-serif; }
.at-label {  margin: 0 0 5px 0; padding: 5px 0 0 0;font: 20px/31px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, sans-serif;text-shadow: rgba(255, 255, 255, 1) 0 1px 0;width: auto;  }
.at-radio-label{ padding-right: 10px; }
.at-file-upload-label{ clear: both; margin: 5px 0 5px 1px; }

.simplePanelImagePreview{ max-width: 200px; display: inline-block; }
.simplePanelImagePreview img{max-width: 100%}
.wrapper-simplePanelImagePreview{position:relative;display: inline-block;}
.wrapper-simplePanelImagePreview .simplePanelimageUploadclear{
	position: absolute; top: 5px; right: 0; opacity: 0; width: 16px!important; height: 16px;
	background: url(../images/delete.png) no-repeat center center !important; border: none; display: inline-block; text-indent: -9999px; box-shadow: 0 0 0;
}
.wrapper-simplePanelImagePreview:hover .simplePanelimageUploadclear{opacity: 1}
/* =Form Fields
----------------------------------------------- */
.form-field input, .form-field textarea {width: auto !important;}
.wp-editor-wrap{width: 500px;} textarea.at-wysiwyg{width: 498px !important;}
.rw-checkbox, .at-select, .at-text , .at-textarea{width: auto!important;}
.postbox .at-field input,
.postbox .at-field textarea { padding: 5px; line-height: 18px; }
.postbox .at-field input.at-radio{}
.at-field input:focus,
.at-field textarea:focus { background: #fffff8; }
#wpcontent select.at-select { height: 30px !important; padding:0 5px; display: block; min-width: 200px; }
.at-field .desc-field { color: #AAA; font-style: italic; margin: 5px 0 0 3px !important; font-size: 13px; }
.at-field .wp_themeSkin table.mceLayout{ border: 1px solid #DFDFDF; }
#post-body .at-field .wp_themeSkin .mceStatusbar a.mceResize{ top: -25px; }

/* =Uploaded Images
----------------------------------------------- */
.at-images li { margin: 5px 10px 0 0; float: left; width: 150px; height: 150px; text-align: center; border: 3px solid #ccc; cursor: move; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.at-images img { width: 150px; height: 150px; }
.at-images a { position: absolute; top: -12px; right: -12px; color: #fff;  font-weight: bold; padding: 5px; }
.at-images .at-delete-file img{ width: 16px; height: 16px; }

/* =Upload Button
----------------------------------------------- */
.at-upload-button { float: left; clear: both; margin-top: 10px; }
.at-add-file { float: left; clear: both; margin-top: 10px; }

/* =Time Picker
----------------------------------------------- */
.ui-timepicker-div { font-size: 0.9em; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* =Repater Block
----------------------------------------------- */
/* inline */
.at-inline label{font-size: 12px !important;}
.at-inline textarea{height: 130px;width: 200px;}

.icon-list li {
	text-align:    center;
	margin-bottom: 0;
	display:       block;
	position:      relative;
	height: 41px;
	width: 41px;
	float: left;
	cursor: pointer;
	line-height: 41px;
}

.icon-list li:hover i:before {
	width:            44px;
	height:           44px;
	line-height:      44px;
	font-size:        26px;
	color:            #1d2329;
	background-color: #f8f8f8;
	cursor:           pointer;
	position:         relative;
	border:     1px solid #000;
 	z-index:          10000;
	padding:          6px;
}

.icon-preview {
	margin-left: 15px;
	text-align:  center;
	font-size:   18px;
	display:     inline-block;
 }

.icon-search {
	display: inline-block;
}
#TB_closeWindowButton .tb-close-icon:before:focus{outline: none}
#TB_closeWindowButton .tb-close-icon:before {
	content:     "Ok";
	background:  #357ebd;
	width:       30px;
	height:      30px;
	text-align:  center;
	line-height: 26px;
	color:       #fff;
	display:     inline-block;
	font-size:   14px;
	font-weight: bold;
	opacity:     0.8;
}

#TB_closeWindowButton .tb-close-icon:hover:before {
	opacity: 1;
}
