.stats_counter {
	color: #fff;
	.wrapper-icon {
		height: 86px;
		i {
			display: inline-block;
			&:before {
				font-size:   70px;
				margin:      0;
				line-height: 1;
			}
			color:   inherit;
		}
	}
	.stats_counter_number {
  		font-size:   55px;
		line-height: 60px;
 	}
	.stats_counter_title {
  		font-size:      14px;
 		color:          inherit;
		text-transform: uppercase;
	}
}

.bg__shadow {
	position: relative;
	&:before {
		position:   absolute;
		content:    "";
		background: rgba(0, 0, 0, 0.6);
		width:      100%;
		height:     100%;
		top:        0;
		display:    inline-block;
	}
}

//////////////////
.discounts-tour {
	text-align: center;
	.line {
		position:   relative;
		width:      50px;
		height:     3px;
		margin:     10px auto 20px auto;
		background: #fff;
		display:    inline-block;
		&:after {
			content:       "";
			position:      absolute;
			top:           -4px;
			left:          50%;
			margin-left:   -4px;
			border-left:   4px solid transparent;
			border-right:  4px solid transparent;
			border-bottom: 4px solid #fff;
		}
	}
	.discounts-title {
		font-weight: 700;
		font-size:   32px;
		line-height: 55px;
		color:       #fff;
		margin-top:  -6px;
		span {
			font-size:        40px;
			color:            #333;
 			padding:          2px 5px
		}
	}
	p {
		font-size:   18px;
		font-weight: 700;
		color:       #fff;
	}
}